// place your custom styles here

// #main-content {
//     background-image: url('/RoME/RoMELogo.png')!important;
//     background-position: center;
//     background-size: cover;
//     background-repeat: no-repeat;
//     // background-color: rgba(255, 255, 255, 0.5); /* 50% de opacidade */
//     // position: fixed;
//     opacity: 0.2; /* 50% de opacidade */
// }

#main-content {
    z-index: 10;
}

#main-content::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/RoME/RoMELogo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.15;
    /* 50% de opacidade */
    z-index: -1;
    /* Coloca o pseudo-elemento atrás do conteúdo do body */
}

#main-description {
    max-width: 40rem;
    margin-top: 10px;
    color: #FFF;
}

.vp-hero-info {
    display: block;
    min-height: 100vh;
    max-height: 100vh;
    // text-align: center;

    // margin-top: 25vh;
    // margin-bottom: 150px;

    .vp-hero-image {
        // max-height: 150px;
        margin: 0px;
        margin-top: 50px;
    }
}

.instagram-link>a {
    color: #7f8c8d;
}

.instagram-link>a:hover {
    color: #2980b9;
}

.linkedin-link>a {
    color: #7f8c8d;
}

.linkedin-link>a:hover {
    color: #2980b9;
}

.patrocinadores {
    width: 90%;
    /* ajuste a largura da div como quiser */
    margin: auto;
    /* centraliza a div */
    display: flex;
    /* usa o layout flexível */
    // justify-content: space-between; /* distribui o espaço entre as imagens */
    column-gap: 50px;
    height: 80px;
}

//tabela de programação
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;
  padding:10px 5px;word-break:normal;}
.tg th{border-style:solid;border-width:0px;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-9fnw{background-color:#ffccc9;color:#000000;text-align:center;vertical-align:top}
.tg .tg-0c6x{background-color:#fffc9e;color:#000000;text-align:center;vertical-align:top}
.tg .tg-qrlx{background-color:#cbcefb;color:#000000;text-align:center;vertical-align:top}
.tg .tg-bq31{background-color:#3166ff;color:#ffffff;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-ddj9{background-color:#c0c0c0;color:#000000;text-align:center;vertical-align:top}
.tg .tg-zsuv{background-color:#96fffb;color:#000000;text-align:center;vertical-align:top}
.tg .tg-slju{background-color:#ffce93;color:#000000;text-align:center;vertical-align:top}


// Tabela de preços
.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-uqo3 {
    background-color: #efefef;
    text-align: center;
    vertical-align: top
}

.tg .tg-v8f3 {
    background-color: #efefef;
    color: #000000;
    text-align: center;
    vertical-align: top
}

.tg .tg-kftd {
    background-color: #efefef;
    text-align: left;
    vertical-align: top
}

.tg .tg-be0x {
    background-color: #6665cd;
    color: #ffffff;
    font-weight: bold;
    text-align: left;
    vertical-align: top
}

.tg .tg-d2of {
    background-color: #6665cd;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    vertical-align: top
}

.tg .tg-y9lf {
    background-color: #efefef;
    color: #000000;
    text-align: left;
    vertical-align: top
}